.register-container {
    display: flex;
    height: 100vh;
  }
  
  .form-register-section {
    margin-top: 0px;
    flex: 0 0 48%; /* Form için %40 alan */
    padding: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(2, 2, 2, 0.62); /* Hafif karartma */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Hafif çerçeve */
  }
  
  .form-register-section h2 {
    margin-bottom: 10px;
    text-align: center;
    background: linear-gradient(150deg, white, gold); /* Başlığa renk geçişi ekliyoruz */
    -webkit-background-clip: text; /* Arka planı sadece yazı ile gösteriyor */
    color: transparent; /* Yazı rengini şeffaf yaparak arka planı görünebilir kılacağız */
    margin-top: -30px;
  }
  
  .form-register-group {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .form-register-group label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    background: linear-gradient(150deg, white, gold); /* Başlığa renk geçişi ekliyoruz */
    -webkit-background-clip: text; /* Arka planı sadece yazı ile gösteriyor */
    color: transparent; /* Yazı rengini şeffaf yaparak arka planı görünebilir kılacağız */
  }
  
  .form-register-group input,
  .form-register-group select {
    color: white;
    width: 100%; /* Tüm input ve select elementleri %100 genişlikte olacak */
    background-color: #423b3baa;
    padding: 8px;
    font-size: 16px;
    border: 1px solid gold;
    border-radius: 4px;
    box-sizing: border-box; /* Box modelini düzgün hale getirmek için */
  }
  
  .submit-register-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: gold;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Butonun block seviyesinde olmasını sağlıyoruz */
    margin-left: auto; /* Sol tarafı otomatik yaparak ortalıyoruz */
    margin-right: auto; /* Sağ tarafı otomatik yaparak ortalıyoruz */
    height: 40px;
    width: 30%;
  }
  
  .submit-register-button:hover {
    background-color: gold;
  }
  
  .car-register-section {
    flex: 0 0 52%; /* Araç için %60 alan */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .car-register-section h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .car-register-container {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .car-register-container img {
    width: 100%;
    animation: spin 5s linear infinite;
  }

/* Genel mesaj */
.message {
  color: white; /* Hata mesajları için kırmızı renk */
  font-size: 16px;
  margin-top: 10px;
}

/* Yükleme mesajı için özel stil */
.message.loading {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
  color: white; /* Yükleme mesajı beyaz renk */
}

/* Başarı mesajı için özel stil */
.message.success {
  text-align: center;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, orange 50%, black 50%);
  border-image-slice: 1;
  background: linear-gradient(150deg, white, rgb(214, 214, 214));
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 15px 13px 15px rgba(0, 0, 0, 0.906);
  padding: 40px;
  font-size: 20px;
  margin-top: 10px;
}

/* Hata mesajı */
.message.error {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .register-container h2 {
    margin-top: 20px; /* İhtiyaca göre artırabilirsiniz */
  }
  
  .register-container {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .form-register-section,
  .car-register-section {
    flex: 1 1 100%;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .form-register-group input {
    max-width: 100%;
  }

  .car-register-section {
    margin-top: -120px; /* 3D modeli daha yukarı al */
    width: 100%;
    display: flex;
    justify-content: center; /* İçeriği ortala */
    align-items: center; /* Dikey hizalama */
  }

  .car-register-section canvas {
    width: 100vw; /* Tam ekran genişliği */
    max-width: 100%; /* Container dışına taşmayı önler */
    height: 200px;
    display: block;
    margin: 0;
    padding: 0;
  }
}
